DB_HOST=gwon-db
DB_PORT=3306
DB_NAME=unvail
DB_USERNAME=root
DB_PASSWORD=replace_me

GOOGLE_CLIENT_ID=replace_me
GEMINI_API_KEY=replace_me
VITE_GOOGLE_CLIENT_ID=replace_me
VITE_API_BASE_URL=/api
ADMIN_EMAILS=
